---
import Alert from "@components/Alert.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="お問い合わせ">
  <div class="w-full min-h-[80vh] sm:w-96 m-auto px-4">
    <p>
      お問合せいただきありがとうございます。
      <br />お仕事やご質問などございましたら、ご連絡お待ちしております。
      <br />フォーム送信後、確認メールは送信されませんので、ご了承ください。
    </p>
    <form id="contact-form" class="mt-6" name="contact_form">
      <input type="hidden" name="contact_number" />
      <div>
        <label
          class="block after:content-['*'] after:text-red-400 after:align-middle"
          for="name">お名前</label
        >
        <input
          type="text"
          id="name"
          name="user_name"
          placeholder="お名前を入力してください"
          required="true"
          class="input input-bordered w-full block mt-1"
        />
      </div>
      <div>
        <label
          class="block w-full mt-4 after:content-['*'] after:text-red-400"
          for="email"
          >メール
        </label>
        <input
          type="email"
          id="email"
          name="user_email"
          required="true"
          placeholder="メールアドレスを入力してください"
          class="input input-bordered w-full block mt-1"
        />
      </div>
      <div>
        <label
          class="block mt-4 after:content-['*'] after:text-red-400 after:align-middle"
          for="message">お問い合わせ内容</label
        >
        <textarea
          id="message"
          name="message"
          required="true"
          rows="4"
          class="textarea textarea-bordered block w-full mt-1"></textarea>
      </div>
      <button id="submitButton" class="btn btn-primary mt-4">送信</button>
    </form>
  </div>
  <Alert />
</Layout>
<script
  is:inline
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
></script>
<script is:inline type="text/javascript">
  (function () {
    emailjs.init({
      publicKey: "Q09UWwZ_b5D4dLRzy",
      // limitRate: {
      //   id: "app",
      //   // Allow 1 request per 10s
      //   throttle: 10000,
      // },
    });
  })();
</script>
<script is:inline type="text/javascript">
  window.onload = function () {
    document
      .getElementById("contact-form")
      .addEventListener("submit", function (event) {
        event.preventDefault();
        const submitButton = document.getElementById("submitButton");
        submitButton.classList.add("loading");
        // generate a five digit number for the contact_number variable
        this.contact_number.value = (Math.random() * 100000) | 0;
        // these IDs from the previous steps
        emailjs.sendForm("service_i4hpsnb", "template_vcdbm8l", this).then(
          function () {
            const successAlert = document.getElementById("success-alert");
            successAlert.classList.remove("hidden");
            submitButton.classList.remove("loading");
            this.contact_form.reset();
            setTimeout(function () {
              successAlert.classList.add("hidden");
            }, 5000);
          },
          function (error) {
            const errorAlert = document.getElementById("error-alert");
            errorAlert.classList.remove("hidden");
            submitButton.classList.remove("loading");
            console.log("FAILED...", error);
            setTimeout(function () {
              successAlert.classList.add("hidden");
            }, 5000);
          },
        );
      });
  };
</script>
