---
import Layout from "../layouts/Layout.astro";
import PostCard from "../components/PostCard.astro";
import { apiClient } from "../lib/spearly";
const fetchBlogData = async () => {
  const data = await apiClient.getList("sample-post");
  return data;
};
const res = await fetchBlogData();
const blogData = res.data.map((content) => content.values);
console.log(blogData);
---

<Layout title="Welcome to Astro.">
  <main>
    <PostCard />
    <!-- <ul role="list" class="link-card-grid">
      {blogData.map((blog) => <Fragment set:html={blog.body} />)}
    </ul> -->
  </main>
</Layout>
