---
import Profile from "@components/Profile.astro";
import TagsList from "@components/TagsList.astro";
---

<aside
  class="w-full sm:max-w-[290px] flex flex-col border-2 border-white gap-4"
>
  <Profile />
  <TagsList />
  <!-- <div class="w-full h-96 border-2 border-white">
    <div class="text-center text-2xl">広告</div><div></div>
  </div> -->
</aside>
