---
import { format } from "date-fns";
type Props = {
  href?: string;
  title: string;
  imgUrl: string;
  body: string;
  tags: string[];
  updatedAt: Date;
};

const { href, title, imgUrl, updatedAt, tags } = Astro.props;
---

<a class="card w-80 bg-base-100 shadow-xl cursor-pointer" href={href}>
  <figure>
    <img src={imgUrl} alt="Shoes" />
  </figure>
  <div class="card-body p-4 min-h-36">
    <h2 class="card-title">
      {title}
    </h2>
    <div class="badge badge-secondary">NEW</div>

    <div class="text-xs text-right">
      更新日：{format(updatedAt, "yyyy/MM/dd HH:mm")}
    </div>

    <div class="card-actions justify-end">
      {tags.map((tag) => <div class="badge badge-outline">{tag}</div>)}
    </div>
  </div>
</a>
