---
import { Image } from "astro:assets";
import profileImg from "../static/images/profile.png";
---

<div class="w-full p-5 bg-gray-200 min-h-[100px]">
  <div class="text-center text-2xl mb-5">プロフィール</div>

  <Image
    class="rounded-full w-[160px] mx-auto"
    src={profileImg}
    alt="プロフィール画像"
    width={250}
    height={250}
  />
  <div>
    <p class="text-center text-xl mt-2">自己紹介</p>
    <p>
      JS・React・Next、Svelte、フロントエンドがメイン。<br
      />実務歴3年目のエンジニアです。 フルスタックを目指してバックエンド学習中。
      <br />趣味はとんこつラーメン、読書、サウナ
      <br />お仕事のご依頼お待ちしております。
    </p>
  </div>
</div>
