---
type Props = {
  tagList: string[];
};

const { tagList } = Astro.props;
---

<div class="w-full p-5 bg-gray-200 min-h-[100px]">
  <div class="text-center text-2xl mb-5">タグ一覧</div>
  <ul class="flex flex-wrap gap-3">
    {
      tagList.map((tag) => (
        <li class="badge badge-primary min-w-20 min-h-8 font-bold text-gray-200">
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }

    <!-- <li class="badge badge-secondary">テスト</li>
    <li class="badge badge-accent">テスト</li> -->
  </ul>
</div>
