---
import AsideCard from "./AsideCard.astro";
---

<AsideCard title="タグ一覧">
  <ul class="flex flex-wrap gap-3">
    <li class="badge badge-primary">テスト</li>
    <li class="badge badge-secondary">テスト</li>
    <li class="badge badge-accent">テスト</li>
  </ul></AsideCard
>
