---
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<html lang="ja" data-theme="emerald">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <Header />
    <div class="py-24 px-0 sm:px-6">
      <h2 class="text-center text-6xl font-mono mb-12">{title}</h2>
      <!-- <slot name="aside-left" />ここにサイドバーが挿入される -->
      <slot />
      <!-- <slot name="aside-right" />ここにサイドバーが挿入される -->
    </div>
  </body>
  <Footer />
</html>
